# Configuración de Base de Datos de Validaciones
DB_HOST=tu_host_postgresql
DB_NAME=tu_database_validaciones
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_PORT=5432

# Configuración de Base de Datos de Rutas (EOTs)
DB_RUTAS_HOST=tu_host_postgresql_rutas
DB_RUTAS_NAME=tu_database_rutas
DB_RUTAS_USER=tu_usuario_rutas
DB_RUTAS_PASSWORD=tu_password_rutas
DB_RUTAS_PORT=5432

